version: "3.9"

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    image: django-custom-log
    container_name: django-custom-log
    command: >
      /code/.venv/bin/python3
      -m gunicorn
      DjangoCustomLog.asgi:application
      -c /code/DjangoCustomLog/gunicorn.py
    ports:
      - "8080:8080"
    env_file:
      - .env
    volumes:
      - ./log:/log
    depends_on:
      - db
      - redis
    restart: unless-stopped

  db:
    image: postgres:16-alpine
    container_name: django-postgres
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    container_name: django-redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    restart: unless-stopped

volumes:
  postgres_data:
  redis_data:
